<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#" style="margin-right: 50%;">Yamen Osta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"  id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"> Educations <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Compétences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Formtions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Expérience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row justify-content-center align-item-center myContainer "> 
  <div class="col-lg-3 col-md-3 col-sm-2 col-1">

  </div>
  <div class="col-lg-6 col-md-6 col-sm-8 col-10">

    </div>
    <div class="col-lg-3 col-md-3 col-sm-2 col-1">

    </div>

    <div class="carte">
        <div class=row>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="padding:2%;">
              <img src="./../../assets/img_avatar.png" alt="..." class="rounded mx-auto d-block img-thumbnail" style="width: 80%;">
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-12" style="padding-top: 5%; padding-bottom: 5%;">
            <h3><p class="cardinfo" style="color:#060317;"><strong>Yamen OSTA</strong></p></h3>
            <p class="cardinfo" style="color:#060317;"> Ingénieur Dévéloppement </p>
            <br>
            <h6><p class="cardinfo" style="color:#060317;"><strong>Phone:</strong></p></h6>
            <p class="cardinfo" style="color:#060317;"> +216 24 279 866 </p>
            <br>
            <h6><p class="cardinfo" style="color:#060317;"><strong>E-mail:</strong></p></h6>
            <p class="cardinfo" style="color:#060317;"> ostayamen@hotmail.com </p>
            <br>
            <h6><p class="cardinfo" style="color:#060317;"><strong>Adresse:</strong></p></h6>
            <p class="cardinfo" style="color:#060317;"> App B73 Res Palm D'or <br> Cité Palm D'or <br> L'aouina Tunis 2045  </p>
            
          </div>
        </div>
    </div>
</div>
<div class="row justify-content-center align-item-center myContainer " style="background-image: none; background-color:lightgray; padding-top: 0%;"> 
    <div class="logos">
        <div class= "row justify-content-center align-item-center">
             <div class="col-12  justify-content-center align-item-center text-center" style="padding-top:2%; padding-bottom:2%;">  
               
               <span>  <i class="fab fa-facebook-f" style="font-size: 1.5vw; color:aliceblue;"></i> </span>
               <span> <i class="fab fa-linkedin-in" style="font-size: 1.5vw; color:aliceblue;"></i> </span>
               <span> <i class="fab fa-github" style="font-size: 1.5vw; color:aliceblue;"></i> </span>
               <span> <i class="fab fa-codepen" style="font-size: 1.5vw; color:aliceblue;"></i> </span>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center align-item-center myContainer " style="background-image: none; background-color:lightgray; padding-top: 0%;"> 
   <div class="col-lg-3 col-md-3 col-sm-2 col-1">

   </div>
   <div class="col-lg-6 col-md-6 col-sm-8 col-10 text-center">

    
  <h3 style="margin-top: 10%;">SALUT! Je suis Yamen</h3>
  <p style="margin-top: 5%;">
 

Je suis ingénieur informamatique, diplomé de l'école nationale des ingénieur de Tunis. 
J'ai commencé ma carriére dans le domaines des télécommunications 
et je me suis spécilisé dans les transmissions radio sans fil.
 Passioné de dévéloppement, je su exploiter mes compétence dans de nombreux projets </p>
   </div>
<div class="col-lg-3 col-md-3 col-sm-2 col-1">

  </div>

</div>
